<style>
  aside {
  border: 1px solid #000;
  padding: 1em;
  text-align: center;
  background-color: #dedede;
  }
</style>

<div class="row">
  <aside class="col-sm-4">
    <p>サイドバー</p>
  </aside>
  <div class="col-sm-8">
    
    <%= form_with(model: @place, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '場所名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :prefecture, '都道府県' %>
        <%= f.select :prefecture, Place.prefectures.keys, {}, {class: 'form-control'} %>
      </div>
      
      <div class="form-group">
        <%= f.label :priority, '優先度' %>
        <%= f.select :priority, Place.priorities.keys, {}, {class: 'form-control'} %>
      </div>
      
      <%= f.submit 'リストに追加', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
    